#footer
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    width: 1440px
    color: $white

    margin: 0 auto 1000px

    .emmanuele-durante
        font-family: $second-font
        font-size: 82px
        letter-spacing: 0.58em
        margin: 85px auto 85px


    .footer-content
        display: flex
        align-items: center 
        justify-content: space-between
        width: 1440px

        .presentation
            font-family: $first-font
            font-size: 62px
            
            .thinker
                color: $purple
            .overthinker
                color: $yellow
            .dreamer
                color: $blue
        
        .contact-form
            width: 50%
            height: 500px
            padding: 10px
            margin: 10px

            .form-div
                height: 100%
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
                background: $grey

                .input
                    display: flex
                    justify-content: space-around
                    width: 100%
                    margin: 5px
                    
                    input
                        vertical-align: text-top
                        width: 95%
                        margin: auto
                        
                        ::placeholder
                            font-size: 35px
                            vertical-align: text-top
                
                .email-input input
                    height: 40px


                .message-input input
                    height: 300px   
                    placeholder
                        font-size: 35px


                button
                    width: 97%
                    margin: 5px
                    background: $blue
                    color: $white
                    font-family: sans-serif
                    font-size: 28px
                
                button:hover
                    cursor: pointer

