body
    display: block
    width: 100%
    background: $black
    
    /*border: 1px solid $purple*/

.scroll-box
    width: 100vw
    height: 100vh
    overflow-y: scroll
    scroll-behavior: smooth    
    
    .header
        background: url(../images/background.png)
        background-repeat: no-repeat
        background-size: contain
        width: 1440px
        height: 900px
        margin: 0 auto 400px
        
        /* sometimes I just put random border for me to see the positions and dimensions of the blocks */
        /*border: 1px solid $purple*/
        
        color: $white
        position: relative

        a
            color: $white

        a:hover
            color: $purple
            box-shadow: 1px 1px 100px $blue

        h2
            position: absolute
            width: 815px
            height: 107px
            left: 24px
            top: 343px

            font-family: $first-font
            font-size: 90px
            display: flex
            align-items: center

        p
            position: absolute
            width: 382px
            height: 97.05px
            left: 220px
            top: 471px

            font-family: $second-font
            font-size: 82px

            display: flex
            align-items: center
            text-align: right
            letter-spacing: 0.15em


        /* this div's goal is just to cover an imperfection of the pic on the background
            I know it would be easier to correct it in gimp but my lazyass doesn't let me do it... sorry*/

        .cover
            position: absolute
            width: 236px
            height: 116px
            left: 995px
            top: 813px
            background: $black
