@media screen and (max-width: 480px)
        
    body
        width: 100vw
        background: $black

        

        .scroll-box
            width: 100vw
            height: 5000px
            display: flexbox
            flex-direction: column
            align-items: center
            overflow-y: scroll
            scroll-behavior: smooth  
            
            .header
                background: url(../images/background.png)
                background-repeat: no-repeat
                background-size: contain
                width: 100%
                height: $proportional-y  
                color: $white
                display: flex
                flex-direction: column
                align-items: center
                justify-content: space-around

                .div-logo
                    align-self: flex-start
                    width: $real-x/2
                    height: $real-x/2
                    margin: 0 0 0 4vw
                    img
                        width: 100%
                        height: auto
                
                .titles
                    display: flex
                    flex-direction: column
                    align-items: center
                    height: 50vh
                    justify-content: center
    

                a
                    color: $white
                    text-decoration: none

                a:hover
                    color: $purple

                h2
                    font-family: $first-font
                    font-size: 10vw
                    margin-bottom: 5vh

                p
                    font-family: $second-font
                    font-size: 10vw
                    letter-spacing: 0.15em


