main
    width: 100%
    height: auto
    margin: 25vh auto 
    
    color: $white
    
    display: flex
    flex-direction: column
    align-items: center 

    .main-header
        font-family: $second-font
        font-size: 10vw
        letter-spacing: 2.5vw
        
        padding: 10vh 0 0 0 




    .portfolio
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-rows: 30vh 30vh
        grid-template-areas: '1' '2' '3' '4'
        column-gap: 3vw
        grid-row-gap: 5vh
        color: $white
        
        margin: 0 auto 
        width: 90%
        


        a
            display: block
            text-decoration: none
            align-self: center
            justify-self: center
            width: 100%
            height: 100%
            margin: 10px

            .preview
                width: 100%
                height: 100%
                
                background: #000000af
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center                
                color: $white
                text-decoration: none

                h4
                    font-family: $second-font
                    font-size: 3vh
                    
                
                p
                    font-family: $first-font
                    font-size: 2vh

            .preview:hover
                background: transparent
                color: transparent
                


        .fem-huddle
            background: url(../images/Untitled.png)
            background-size: cover
            background-repeat: no-repeat
            grid-area: '1'
        .top-google
            background: url(../images/google.png)
            background-size: cover
            background-repeat: no-repeat
            grid-area: '2'

        .fcc-tribute
            background: url(../images/tribute.png)
            background-size: cover
            background-repeat: no-repeat
            grid-area: '3'

        .fcc-form
            background: url(../images/form.png)
            background-size: cover
            background-repeat: no-repeat
            grid-area: '4'

            
@media screen and ( max-width: 896px ) 
    main
        .portfolio
            grid-template-columns: 1fr 
            grid-template-rows: 60vw 60vw 60vw 60vw

        