/* COLORS */
/* FONTS */
/* DIMENSIONS * */
body {
  width: 100vw;
  background: #000000;
}

body .scroll-box {
  width: 100vw;
  height: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body .scroll-box .header {
  background: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: contein;
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .scroll-box .header .titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .scroll-box .header a {
  color: #fff;
  text-decoration: none;
}

body .scroll-box .header a:hover {
  color: #df99ff;
}

body .scroll-box .header h2 {
  font-family: Cormorant;
  font-size: 10vw;
  margin-bottom: 5vh;
}

body .scroll-box .header p {
  font-family: "La Belle Aurore";
  font-size: 10vw;
  letter-spacing: 0.15em;
}

main {
  width: 100%;
  height: auto;
  margin: 25vh auto;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-header {
  font-family: "La Belle Aurore";
  font-size: 10vw;
  letter-spacing: 2.5vw;
  padding: 10vh 0 0 0;
}

main .portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 30vh 30vh;
      grid-template-rows: 30vh 30vh;
      grid-template-areas: '1' '2' '3' '4';
  -webkit-column-gap: 3vw;
          column-gap: 3vw;
  grid-row-gap: 5vh;
  color: #fff;
  margin: 0 auto;
  width: 90%;
}

main .portfolio a {
  display: block;
  text-decoration: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
  height: 100%;
  margin: 10px;
}

main .portfolio a .preview {
  width: 100%;
  height: 100%;
  background: #000000af;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  text-decoration: none;
}

main .portfolio a .preview h4 {
  font-family: "La Belle Aurore";
  font-size: 3vh;
}

main .portfolio a .preview p {
  font-family: Cormorant;
  font-size: 2vh;
}

main .portfolio a .preview:hover {
  background: transparent;
  color: transparent;
}

main .portfolio .fem-huddle {
  background: url(../images/Untitled.png);
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: '1';
}

main .portfolio .top-google {
  background: url(../images/google.png);
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: '2';
}

main .portfolio .fcc-tribute {
  background: url(../images/tribute.png);
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: '3';
}

main .portfolio .fcc-form {
  background: url(../images/form.png);
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: '4';
}

@media screen and (max-width: 896px) {
  main .portfolio {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 60vw 60vw 60vw 60vw;
        grid-template-rows: 60vw 60vw 60vw 60vw;
  }
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  color: #fff;
  margin: 0 auto;
}

#footer .emmanuele-durante {
  padding: 10vh 0 0 0;
  font-family: "La Belle Aurore";
  font-size: 10vw;
}

#footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#footer .footer-content .presentation {
  font-family: Cormorant;
  font-size: 3vw;
  margin: 0 0 0 3vw;
}

#footer .footer-content .presentation .thinker {
  color: #df99ff;
}

#footer .footer-content .presentation .overthinker {
  color: #FFD850;
}

#footer .footer-content .presentation .dreamer {
  color: #01D1FF;
}

#footer .footer-content .contact-form {
  width: 30%;
  height: 450px;
  padding: 10px;
  margin: 10px;
}

#footer .footer-content .contact-form .form-div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #727272;
  border-radius: 10px;
}

#footer .footer-content .contact-form .form-div .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 5px;
}

#footer .footer-content .contact-form .form-div .input input {
  vertical-align: text-top;
  width: 95%;
  margin: auto;
  border-radius: 10px;
}

#footer .footer-content .contact-form .form-div .input input ::-webkit-input-placeholder {
  font-size: 35px;
  vertical-align: text-top;
}

#footer .footer-content .contact-form .form-div .input input :-ms-input-placeholder {
  font-size: 35px;
  vertical-align: text-top;
}

#footer .footer-content .contact-form .form-div .input input ::-ms-input-placeholder {
  font-size: 35px;
  vertical-align: text-top;
}

#footer .footer-content .contact-form .form-div .input input ::placeholder {
  font-size: 35px;
  vertical-align: text-top;
}

#footer .footer-content .contact-form .form-div .email-input input {
  height: 40px;
}

#footer .footer-content .contact-form .form-div .message-input input {
  height: 300px;
}

#footer .footer-content .contact-form .form-div .message-input input placeholder {
  font-size: 35px;
}

#footer .footer-content .contact-form .form-div button {
  width: 97%;
  margin: 5px;
  background: #01D1FF;
  color: #fff;
  font-family: sans-serif;
  font-size: 28px;
  border-radius: 10px;
}

#footer .footer-content .contact-form .form-div button:hover {
  cursor: pointer;
}

@media screen and (max-width: 896px) {
  #footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer .footer-content .contact-form {
    max-width: 520px;
    width: 90%;
  }
}

@media screen and (max-width: 375px) {
  .scroll-box {
    width: 100%;
  }
  .scroll-box .header {
    background: none;
    width: 50%;
    height: 100%;
  }
  .scroll-box .header a:hover {
    color: #FFD850;
  }
  .scroll-box .header a:hover h4 {
    width: 90%;
    font-size: 5vh;
  }
  .scroll-box .header a:hover p {
    width: 90%;
    font-size: 4vh;
  }
  .scroll-box .header a:hover .cover {
    display: none;
    color: yellow;
  }
}
/*# sourceMappingURL=main.css.map */